#header150103 .top-util {
  background: #000;
}
#header150103 .top-util ul li a {
  color: #fff;
}

#b-80513 {
  background-color: #000;
}

#footer_sample06 #footer .copyrights {
  background-color: #000;
}

#footup_wrap div ul:nth-child(1) li.boxtit {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
#footup_wrap div ul:nth-child(1) li.inc_t04 {
  font-size: 26px;
  color: #fff !important;
  font-weight: 600;
}
#footup_wrap div ul:nth-child(2) li.boxtit {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
#footup_wrap div ul:nth-child(2) li:nth-child(2) b {
  color: #fff;
}
#footup_wrap div ul:nth-child(3) li.boxtit {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
#footup_wrap div ul:nth-child(3) li a b {
  color: #fff;
}

#iweb-HWs001_f > li {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}